*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    background: #111111;
    display: flex;
    align-items: center;
    justify-content: center;
}
section{
    height: 29rem;
    width: 20rem;
    background: #1b1b1b;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #e4cd00;
    overflow: hidden;
}
#countDown{
    color: #dd0000;
    font: 4rem sans-serif;
    text-align: center;
    margin-top: 2rem;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-top: 3rem;
}
button{
    border-radius: 20px;
    outline: 0;
    border: 0;
    height: 2.5rem;
    width: 7rem;
    cursor: pointer;
    font-size: 18px;
    background: #e2dddd;
    transition: 0.3s linear;
    &:hover{
        background: #1b1b1b;
        border: 1px solid #e4cd00;
        color: #e2dddd;
    }
}
.resetValue{
    color: #e2dddd;
    font: 19px sans-serif;
    text-align: center;
    margin-top: 10px;
}